@model IEnumerable<Distribuerade_System_Labb_2.Models.GroupViewModel>

@{
    ViewData["Title"] = "All Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Groups</h1>

<p>
    <a asp-action="CreateGroup">Create New Group</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerId)
                </td>
                <td>
                    <a asp-action="JoinGroup" asp-route-id="@item.Id">Join group</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
