@model IEnumerable<Distribuerade_System_Labb_2.Areas.Identity.Data.Distribuerade_System_Labb_2User>

@{
    ViewData["Title"] = "Your Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Messages</h1>


<p>
    <a asp-action="Create"><i class="fa fa-plus-circle"></i> Create New</a>
</p>
<div class="container-fluid">
    @foreach (var item in Model)
    {
        <div class="row">
            <div id="contactHolder" class="col-4">
                <a asp-action="MessageOfUser" asp-route-id="@item.Id">
                    <div style="height: 70px;">
                        <div class="col-md-2">
                            <div id="contact"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
</div>
Your total read messages:
@ViewBag.NoOfReadMessages
Your total unread messages:
@ViewBag.NoOfunReadMessages
Your total messages:
@ViewBag.NoOfMessages
Your total deleted messages:
@ViewBag.NoOfDeletedMessages
