@model IEnumerable<Distribuerade_System_Labb_2.Models.MessageViewModel>

@{
    ViewData["Title"] = "Your Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Messages</h1>


<p>
    <a asp-action="Create"><i class="fa fa-plus-circle"></i> Create New</a>
</p>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SenderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Read)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiverId)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
<div class="container-fluid">
    @foreach (var item in Model)
    {
        <div class="row">
            <div id="contactHolder" class="col-4">
                <a asp-action="MessageOfUser" asp-route-id="@item.Id">
                    <div style="height: 70px;">
                        <div class="col-md-2">
                            <div id="contact"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(modelItem => item.Title)
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
</div>

    Your total messages:
@ViewBag.NoOfMessages

